.nav-wrap { 
    border-radius: 50px;    
    margin: 16px;
    position: fixed;
    z-index: 10;
    width: -webkit-fill-available;
    background: linear-gradient(180deg,#ffffff 0%, #e9f3f7 100%); box-shadow: 0 1px 0 rgba(0,0,0,0.06); }
.nav-top { display:flex; justify-content:space-between; font-size:0.9rem; padding:8px 0; color:#5a6b73; }
.nav-main { display:flex; align-items:center; justify-content:space-between; padding:10px  10px; }
.brand { display:flex; align-items:end; gap:5px; }
.logo { width: 50px; height:auto; object-fit:contain; }
.brand-text span { display:block; font-weight:700; color:#0C3B2E; }
.brand-text small { display:block; font-size:0.8rem; color:#0C3B2E; }


.nav-links { display:flex; gap:20px; align-items:center; }
.nav-links a { text-decoration:none; color:#0C3B2E; padding:6px 8px; border-radius:6px;   font-Family: "'Reem Kufi Fun', sans-serif";}
.nav-links a:hover { background: #0C3B2E; color: #fff; }
.nav-links a.cta { background:#0C3B2E; color:#fff; padding:8px 12px; }


.nav-actions { display:flex; align-items:center; gap:18px; }
.phone a { text-decoration:none; color:#0e557a; font-weight:600; }
.hamburger { display:none; font-size:1.4rem; cursor:pointer; color:#0C3B2E;}


@media (max-width: 880px) {
.nav-links {z-index: 10; position:fixed; top:0; right:0; height:100vh; width:260px; background: linear-gradient(180deg,#ffffff 0%, #e9f3f7 100%); box-shadow: 0 1px 0 rgba(0,0,0,0.06); flex-direction:column; padding-top:80px; transform:translateX(100%); transition:transform .28s ease; box-shadow: -6px 0 30px rgba(10,20,30,0.08);}
.nav-links.open{ transform:translateX(0);}
.hamburger { display:block; z-index: 10; }
}