.site-root main { overflow-x: hidden; }


/* buttons */
.btn { display: inline-block; padding: 10px 18px; border-radius: 6px; background: #0C3B2E; color: #fff; text-decoration: none; font-weight: 600; }
.btn.secondary { background: transparent; color: #0C3B2E; border: 2px solid #0C3B2E; }
.btn.secondary:hover {
    background: #0C3B2E; color: #fff
}
