.site-root main { overflow-x: hidden; }


/* buttons */
.btn { display: inline-block; padding: 10px 18px; border-radius: 6px; background: #0C3B2E; color: #fff; text-decoration: none; font-weight: 600; }
.btn.secondary { background: transparent; color: #0C3B2E; border: 2px solid #0C3B2E; }
.btn.secondary:hover {
    background: #0C3B2E; color: #fff
}
.whatsapp-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  z-index: 999;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.whatsapp-float img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.whatsapp-float:hover {
  transform: scale(1.1);
}
